<!-- extensions/product-bundle/blocks/product-bundle.liquid -->

<!-- Empty placeholder - DOM will be created dynamically after data loads -->
<div id="pb-placeholder"></div>

<script>
  window.shopUrl = '{{ shop.permanent_domain | prepend: "https://" }}';
</script>

{% schema %}
{
  "name": "Product Bundle",
  "target": "body",
  "stylesheet": "main.css",
  "javascript": "product-bundle.js",
  "settings": []
}
{% endschema %}
